body {
  margin: 0px;
  background: #fff8dc;
  font-family: sans-serif;
}

.article {
  max-width: 680px;
  margin: 0 auto 0;
  padding: 24px;
  text-align: left;
}

.article__heading--verified {
  margin: 0 0 24px 0;
  color: #d87093;
}

.article__lead {
  font-family: serif;
  font-style: italic;
  font-weight: 700;
  text-transform: uppercase;
}

.article__figure {
  margin: 0 0 16px 0;
}

.figure__image {
  max-width: 100%;
  height: auto;
  margin-bottom: 8px;
}

.figure__caption {
  font-style: italic;
  text-align: center;
}
